{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap custom-masthead-wrap">

    <div class="site-name-custom">
      {{ site.title }}
    </div>

    <nav id="site-nav" class="custom-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = base_path %}
        {% endif %}

        {% assign is_active = false %}
        {% if link.url == '/' and page.url == '/' %}
          {% assign is_active = true %}
        {% elsif link.url != '/' and page.url contains link.url %}
          {% assign is_active = true %}
        {% endif %}

        <a class="{% if is_active %}active{% endif %}" href="{{ domain }}{{ link.url }}">
          {{ link.title }}
        </a>
      {% endfor %}
    </nav>

  </div>
</div>
