<div class="publication-entry">

  <p class="publication-citation">
    <strong>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </strong><br>

    {% if post.citation %}
      {{ post.citation }}
    {% else %}
      {% if post.venue %}
        <em>{{ post.venue }}</em>,
      {% endif %}
      {% if post.date %}
        {{ post.date | date: "%Y" }}.
      {% endif %}
    {% endif %}
  </p>

  <p class="publication-links">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}">PDF</a>
    {% endif %}

    {% if post.slidesurl %}
      | <a href="{{ post.slidesurl }}">Slides</a>
    {% endif %}

    {% if post.bibtexurl %}
      | <a href="{{ post.bibtexurl }}">BibTeX</a>
    {% endif %}

    {% if post.codeurl %}
      | <a href="{{ post.codeurl }}">Code</a>
    {% endif %}
  </p>

  <details class="publication-details">
    <summary>Abstract</summary>

    {% if post.abstract %}
    <div class="abstract-box">
      <strong>Abstract.</strong><br>
      {{ post.abstract }}
    </div>
    {% elsif post.excerpt %}
    <div class="abstract-box">
      <strong>Abstract.</strong><br>
      {{ post.excerpt }}
    </div>
    {% endif %}

    {% if post.tldr %}
    <div class="nojargon-box">
      <strong>TL;DR.</strong><br>
      {{ post.tldr }}
    </div>
    {% endif %}

  </details>

</div>
