<div class="publication-entry">

  <p class="publication-citation">
    <strong>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </strong><br>

    {% if post.citation %}
      {{ post.citation }}
    {% else %}
      {% if post.venue %}
        <em>{{ post.venue }}</em>,
      {% endif %}
      {% if post.date %}
        {{ post.date | date: "%Y" }}.
      {% endif %}
    {% endif %}
  </p>

  <p class="publication-links">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}">PDF</a>
    {% endif %}

    {% if post.slidesurl %}
      | <a href="{{ post.slidesurl }}">Slides</a>
    {% endif %}

    {% if post.bibtexurl %}
      | <a href="{{ post.bibtexurl }}">BibTeX</a>
    {% endif %}

    {% if post.codeurl %}
      | <a href="{{ post.codeurl }}">Code</a>
    {% endif %}
  </p>

  {% if post.abstract or post.excerpt %}
  <details class="publication-details abstract-details">
    <summary>Abstract</summary>

    <div class="abstract-box">
      {% if post.abstract %}
        {{ post.abstract }}
      {% elsif post.excerpt %}
        {{ post.excerpt }}
      {% endif %}
    </div>
  </details>
  {% endif %}

  {% if post.tldr %}
  <details class="publication-details tldr-details">
    <summary>TL;DR</summary>

    <div class="nojargon-box">
      {{ post.tldr }}
    </div>
  </details>
  {% endif %}

</div>
